
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1{
  color: pink;
}

.header{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.section{
  
}

.redalert{
  color:red;
}
