.Navbar{
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    
}
.Main{
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    
}

.Footer{
    border-style: solid;
    border-width: 2px;
    border-color: maroon;
    
}